* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    height: 100%;
}

main {
    padding: 1.2em;
    background-color: white;
}


.rectangulo1 {
    background-color: #598c26;
    height: 20px;
    width: 100%;
}

.rectangulo2 {
    background-color: #598c26;
    height: 20px;
    width: 100%;
    margin-top: auto;
    
}

.contenedor1 {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 5px 30px;
    border-radius: 10px;
}

.logo_gsaai {
    display: flex;
    justify-content: center;
    padding: 20px;    
}

.logo {
    text-align: end;
    padding-top: 50px;
}

.logo img {
    height: 50px;
}

.bienvenida {
    display: flex;
    text-align:center;
    margin: auto;
    padding: 10px 0px 5px 0px;
    color: white
}

.cuadro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #598c26;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 20px;
}

.id {
    padding: 3px 0px;    
}

.contraseña {
    padding-bottom: 1px;
}

.check { 
    padding: 2px 0px 1px;
    color: white;
}

.olvide_contra {
    text-decoration: none;
    color: white;
    font-size: 15px;
}


.form-control, .form-control2 {
    background-image: url(/icons/user-b.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 3% center;
    width: 90%;
    padding: 12.5px 0px 12.5px 12%;
    border-radius: 10px;
    margin: 3px 0px;
}

.form-control2 {
    background-image: url(/icons/pass.svg);
}

.contenedor1 .check {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ingresar {
    text-align: center;
    background-color: #598c26;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px
}

.ingresar a {
    color: white;
    font-size: 20px;
}

.content_textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px;
}

.solicitar-cuenta {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.enlace_wsp a{
    color: #598c26;
}

.btn_correo {
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    height: 30px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.btn_correo img {
    margin: 10px;
}

.btn_correo a {
    color: black;
}